/* ------ HEADER/FOOTER ------ */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0px 8px;
}

a {
    font-family: arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.top_bar{
    float: right;
}

.top_bar a{
    top: -10px;
    color: #3F3F3F;
    position: relative;
}

.footer_bar{
    width: 99.9%;
    height: 45px;
    background-color: #F6F6F6;
    border-top: 1px solid #E9E9E9;
    position: absolute;
    bottom: 0;
    left: 1px;
}

.footer_bar a{
    position: relative;
    color: #696969;
}

#span_left{
    float:left;
}

#span_left a{
    top: 0.85em;
    margin-left: 1.6em;
    position: relative;
}

#span_right {
    float: right;
}

#span_right a {
    top: 0.85em;
    margin-right: 1.6em;
    position: relative;
}

/* correctly position image elements at the top */
/* a crude solution */
#correction_pic{
    top: -2px;
    position: relative;
}

#correction_profile{
    top: 5px;
    left: -5px;
    position: relative;
}

/* ------ MIDDLE WRAPPER ------ */
.wrapper{
    position: relative;
    text-align: center;
    top: 150px;
}

/* Google icon picture */
.wrapper img{
    height: 180px;
    width: 320px;
    margin: 15px;
    position: relative;
    left: 200px;
}

#search{
    top: -20px;
    position: relative;
}

/* div for containing the search input field */
#search_input{
    height: 50px;
}

/* textfield (search box) */
input[type="text"]{
    height: 2em;
    width: 45em;
    border: 1px solid #D3D3D3;
    text-indent: 10px;
    padding: 0px 20px 0px 0px;
    background-image: url('../img/mic.png');
    background-position: right;
    background-repeat: no-repeat;
}

/* "Google Search" and "I'm feeling lucky" buttons */
input[type="button"]{
    background-color: #EFEFEF;
    margin: 0px 5px;
    padding: 0.6em;
    font-weight: bold;
    color: #565656;
    font-size: 0.78em;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
}

/* Active elements for input */
input:hover{
    border: 1px solid #999;
}

input:focus{
    border: 1px solid #4293DD;
}
